#skilltree {
    background-color: lightblue;
}
#detail {
    background-color: rgb(245, 255, 218);
;
}

@media (min-width: 850px) {
    #parent {
        display: flex;
    }
    #skilltree {
        flex-grow: 1;
    }
    #detail {
        flex-grow: 1;
        width: 100%;
        margin: 45px 10px 0px 10px;
    }
}

.page_header{
    display: flex;
    justify-content: center;
    position: relative;
    margin: 10px 0px 20px 0px;
}
.title_header{
    font-size: 40px;
    margin: 0;
    line-height: 50px;
}
.language_header{
    line-height: 50px;
    position: absolute;
    right: 0;
    margin-right: 10px;
}
.flag_header{
    border: 1px #333 solid;
    width: 30px;
    height: 20px;
}
.header {
 font-size: 20px;
}
.table{
    text-align: -webkit-center;
    text-align: -moz-center;
}
.skill_name{
    text-align: center;
    font-size: small;
}
.skill_icon{
    text-align: center;
}
.skill_img {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}
.skill_lock {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
.skill_level{
    text-align: center;
}
.no_point{
    color: #ff0000;
}
.allow_next_tier{
    color: #ff2cff;
}
/* 
タブ切り替え
参考 https://www.design-memo.com/coding/jquery-tab-change
*/
.skill_tabs {
    list-style: none;
}
.skill_tabs li {
    float: left;
    margin-right: 10px;
    background: #efefef;
}
.skill_tabs li.current {
    background: #00aeff;
}
.skill_tabs li a {
    display: block;
    border: 1px solid #aaa;
    border-bottom: none;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    text-align: center;
}
.skill_tabs li.current a {
    color: #fff; 
}
.tab_contents {
    clear: both;
    display: none;
    padding: 10px;
    border: 1px solid #aaa;
    background: #edf4f7;
}
.tab_contents.current {
    display: block;
}
.page_footer{
    margin: 10px 0px 0px 0px;
    padding: 1rem 1.5rem 1rem;
    text-align: center;
    background: #fdfdfd;
}